.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;

}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  max-width: 375px;
}

section {


}

header img {
  margin: 20px 0 20px 30px;;
  width: 25%;
  height: 25%;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 600;
}

span {
  font-weight: 300;
  color: var(--DesaturatedRed);
}

.title p {
  color: var(--DesaturatedRed);
  font-size: 0.9em;
  line-height: 1.5;
  margin: 20px 35px;
}
